* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #327895;
  --secondary-color: #ffff;
  --background-light-color: #F8F8F8;
  --hover-color: red;
}

body {
  font-family: 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Droid Sans', 'Helvetica Neue', sans-serif;
}