.home_main_container {
    width: 100%;
    height: auto;
}

.slider_container {
    width: 100%;
    height: auto;
}


/* Service Section Start */
.service_container {
    width: 100%;
    height: auto;
    padding: 40px 50px;
    background-color: var(--background-light-color);
}

.title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 600;
    padding-bottom: 40px;
}

.service_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.service_item_section {
    width: 100%;
    height: auto;
    display: flex;
    column-gap: 20px;
}

.item_icon {
    width: 50px;
    height: auto;
    color: var(--primary-color);
    font-size: 40px;
}

.item_content {
    width: calc(100% - 50px);
    height: auto;

}

.item_title {
    width: 100%;
    height: auto;
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 600;
}

/* small device */
@media screen and (max-width: 576px) {
    .service_container {
        width: 100%;
        height: auto;
        padding: 40px 40px;
        background-color: var(--background-light-color);
    }

    .title {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: var(--primary-color);
        font-weight: 600;
        padding-bottom: 40px;
    }

    .service_section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        row-gap: 40px;
    }

    .service_item_section {
        width: 100%;
        height: auto;
        display: flex;
        column-gap: 20px;
    }

    .item_icon {
        width: 50px;
        height: auto;
        color: var(--primary-color);
        font-size: 35px;
    }

    .item_content {
        width: calc(100% - 50px);
        height: auto;

    }

    .item_title {
        width: 100%;
        height: auto;
        font-size: 22px;
        color: var(--primary-color);
        font-weight: 600;
    }

}

/* Medium Device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .service_container {
        width: 100%;
        height: auto;
        padding: 40px 50px;
        background-color: var(--background-light-color);
    }

    .title {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: var(--primary-color);
        font-weight: 600;
        padding-bottom: 40px;
    }

    .service_section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 40px;
    }

    .service_item_section {
        width: 100%;
        height: auto;
        display: flex;
        column-gap: 20px;
    }

    .item_icon {
        width: 50px;
        height: auto;
        color: var(--primary-color);
        font-size: 40px;
    }

    .item_content {
        width: calc(100% - 50px);
        height: auto;

    }

    .item_title {
        width: 100%;
        height: auto;
        font-size: 24px;
        color: var(--primary-color);
        font-weight: 600;
    }
}

/* Service Section End */


/* Sponsorship Section Start */
.sponsorship_container {
    width: 100%;
    height: auto;
    padding: 30px 50px;
    background-color: var(--background-light-color);
}

.sponsorship_item_section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.sponsorship_item_image {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsorship_item_image img {
    width: 130px;
    height: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: pointer;
}

.sponsorship_item_image img:hover {
    filter: none;
    -webkit-filter: none;
}



/* Media Query Start */
@media screen and (max-width: 576px) {

    .sponsorship_item_section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    .sponsorship_item_image img {
        width: 100px;
        height: auto;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        cursor: pointer;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .sponsorship_item_section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    .sponsorship_item_image img {
        width: 100px;
        height: auto;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        cursor: pointer;
    }
}

/* Sponsorship Section End */